-- MIGRA├ç├âO: Cadastrar Tempos EPR - Goi├ónia 2025 (Sem ON CONFLICT)
-- ========================================================
-- Script para inserir todos os tempos de EPR dos funcion├írios de Goi├ónia
-- Total de registros: 439 funcion├írios em diferentes datas e equipes
-- Gerado automaticamente a partir do JSON

-- Estrutura da tabela tempo_epr:
-- secao_id (obrigat├│rio) - ID da se├º├úo Goi├ónia
-- equipe_id (opcional) - ID da equipe
-- usuario_id (obrigat├│rio) - ID do funcion├írio
-- data_referencia (obrigat├│rio) - Data de refer├¬ncia
-- nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status

-- Lote 1: registros 1 a 25
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '11/01/2025', 'BRAVO', 'LEONARDO FERREIRA DA SILVA', '00:00:52'),
    ('GOIANIA', '11/01/2025', 'BRAVO', 'GABRIEL MARTINS DE ABREU', '00:00:57'),
    ('GOIANIA', '11/01/2025', 'BRAVO', 'KAIQUE CHARLES RATKEIVISZ', '00:01:03'),
    ('GOIANIA', '11/01/2025', 'BRAVO', 'VIN├ìCIUS LOPES DOS SANTOS', '00:01:18'),
    ('GOIANIA', '11/01/2025', 'BRAVO', 'FRANCO MACEDO BENTO', '00:01:02'),
    ('GOIANIA', '11/01/2025', 'BRAVO', 'MARCOS VIN├ìCIUS SILVA OLIVEIRA', '00:01:09'),
    ('GOIANIA', '11/01/2025', 'BRAVO', 'LUIS FERNANDO ABDON NUNES JUNIOR', '00:01:06'),
    ('GOIANIA', '11/01/2025', 'BRAVO', 'GUSTAVO ALVES DE SOUZA', '00:00:53'),
    ('GOIANIA', '11/01/2025', 'BRAVO', 'RAFAEL BATISTA JUNQUEIRA', '00:01:19'),
    ('GOIANIA', '11/01/2025', 'BRAVO', 'ZACARIAS KEVIN VIEIRA NUNES', '00:00:52'),
    ('GOIANIA', '11/01/2025', 'BRAVO', 'GUILHERME DIAS OLIVEIRA', '00:00:53'),
    ('GOIANIA', '18/01/2025', 'ALFA', 'JONATAZ J├ÜNIOR DA SILVA NASCIMENTO', '00:01:10'),
    ('GOIANIA', '18/01/2025', 'ALFA', 'MAXWELL ALVES LOPES', '00:00:57'),
    ('GOIANIA', '18/01/2025', 'ALFA', 'WDSON JUNIOR PINHEIRO DA SILVA', '00:01:05'),
    ('GOIANIA', '18/01/2025', 'ALFA', 'RONILDO TEODORO DA SILVA NASCIMENTO', '00:00:59'),
    ('GOIANIA', '18/01/2025', 'ALFA', 'BRENO AUGUSTO MARANH├âO', '00:01:03'),
    ('GOIANIA', '18/01/2025', 'ALFA', 'MAX FELIPE MENDES DE S. FONTENELE', '00:00:56'),
    ('GOIANIA', '18/01/2025', 'ALFA', 'LUCAS ARAG├âO LEITE', '00:01:11'),
    ('GOIANIA', '18/01/2025', 'ALFA', 'RAFAEL JUNQUEIRA', '00:01:00'),
    ('GOIANIA', '18/01/2025', 'ALFA', 'NILTON DE SOUZA CABRAL FILHO', '00:01:00'),
    ('GOIANIA', '18/01/2025', 'ALFA', 'LAURA MARIA DE SOUZA CARVALHAIS', '00:01:07'),
    ('GOIANIA', '18/01/2025', 'ALFA', 'S├ìLVIO PASSOS DA SILVA', '00:01:04'),
    ('GOIANIA', '20/01/2025', 'CHARLIE', 'GEDIAEL SANTOS FERREIRA', '00:00:58'),
    ('GOIANIA', '20/01/2025', 'CHARLIE', 'MAXWELL ALVES LOPES', '00:00:52'),
    ('GOIANIA', '20/01/2025', 'CHARLIE', 'HENRIQUE ELER ASSUN├ç├âO PINTO', '00:01:00')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 2: registros 26 a 50
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '20/01/2025', 'CHARLIE', 'GABRIEL ARA├ÜJO LOPES', '00:00:54'),
    ('GOIANIA', '20/01/2025', 'CHARLIE', 'THIAGO DE SOUZA MONTEIRO', '00:00:48'),
    ('GOIANIA', '20/01/2025', 'CHARLIE', 'VICTOR ANTUNES BRETAS', '00:01:00'),
    ('GOIANIA', '20/01/2025', 'CHARLIE', 'PAULO AUGUSTO CARDOSO NORONHA', '00:00:54'),
    ('GOIANIA', '20/01/2025', 'CHARLIE', 'JEFFERSON PEREIRA LOYOLA DOS SANTOS', '00:01:00'),
    ('GOIANIA', '20/01/2025', 'CHARLIE', 'IGOR ALMEIDA DOS SANTOS', '00:00:57'),
    ('GOIANIA', '20/01/2025', 'CHARLIE', 'HELI DE ALMEIDA NERES', '00:00:54'),
    ('GOIANIA', '20/01/2025', 'CHARLIE', 'CAMILA GODOY SILVA', '00:00:56'),
    ('GOIANIA', '21/01/2025', 'DELTA', 'GABRIEL FERREIRA GON├çALVES', '00:00:59'),
    ('GOIANIA', '21/01/2025', 'DELTA', 'S├ìLVIO C├ëSAR FERNANDES FILHO', '00:00:56'),
    ('GOIANIA', '21/01/2025', 'DELTA', 'PEDRO HENRIQUE NUNES RAMOS', '00:00:49'),
    ('GOIANIA', '21/01/2025', 'DELTA', 'LEANDRO SOARES GARCIA', '00:00:51'),
    ('GOIANIA', '21/01/2025', 'DELTA', 'MATHEUS GOMES DOS SANTOS', '00:00:47'),
    ('GOIANIA', '21/01/2025', 'DELTA', 'ARIDELCIO ARA├ÜJO DO NASCIMENTO', '00:01:12'),
    ('GOIANIA', '21/01/2025', 'DELTA', 'N├üRIA SANTANA DA SILVA', '00:00:58'),
    ('GOIANIA', '21/01/2025', 'DELTA', 'JOS├ë ANT├öNIO DE MORAES LEAL', '00:01:01'),
    ('GOIANIA', '21/01/2025', 'DELTA', 'PAULO C├ëSAR DA SILVA OLIVEIRA', '00:00:47'),
    ('GOIANIA', '21/01/2025', 'DELTA', 'MARCELO MAX SOUZA ALMEIDA', '00:00:50'),
    ('GOIANIA', '21/01/2025', 'DELTA', 'RICARDO RODRIGUES GON├çALVES', '00:01:15'),
    ('GOIANIA', '11/02/2025', 'ALFA', 'DIEGO DE JESUS RODRIGUES', '00:01:15'),
    ('GOIANIA', '11/02/2025', 'ALFA', 'MAXWELL ALVES LOPES', '00:01:05'),
    ('GOIANIA', '11/02/2025', 'ALFA', 'JONATAZ JUNIOR DA SILVA NASCIMENTO', '00:01:25'),
    ('GOIANIA', '11/02/2025', 'ALFA', 'GABRIEL ARA├ÜJO LOPES', '00:01:23'),
    ('GOIANIA', '11/02/2025', 'ALFA', 'BRENO AUGUSTO MARANH├âO', '00:01:38'),
    ('GOIANIA', '11/02/2025', 'ALFA', 'LUCAS ARAG├âO LEITE', '00:00:58')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 3: registros 51 a 75
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '11/02/2025', 'ALFA', 'THAIS MONIQUE L. BEZERRA DE OLIVEIRA', '00:02:23'),
    ('GOIANIA', '11/02/2025', 'ALFA', 'NILTON DE SOUZA CABRAL FILHO', '00:00:54'),
    ('GOIANIA', '11/02/2025', 'ALFA', 'LAURA MARIA DE SOUZA CARVALHAIS', '00:01:27'),
    ('GOIANIA', '11/02/2025', 'ALFA', 'WDSON JUNIOR PINHEIRO DA SILVA', '00:01:03'),
    ('GOIANIA', '15/02/2025', 'ALFA', 'GEDIAEL SANTOS FERREIRA', '00:01:11'),
    ('GOIANIA', '15/02/2025', 'ALFA', 'MAXWELL ALVES LOPES', '00:00:56'),
    ('GOIANIA', '15/02/2025', 'ALFA', 'BRENO AUGUSTO MARANH├âO', '00:01:01'),
    ('GOIANIA', '15/02/2025', 'ALFA', 'JONATAZ JUNIOR DA SILVA NASCIMENTO', '00:01:10'),
    ('GOIANIA', '15/02/2025', 'ALFA', 'MATHEUS GOMES DOS SANTOS', '00:00:50'),
    ('GOIANIA', '15/02/2025', 'ALFA', 'WDSON JUNIOR PINHEIRO DA SILVA', '00:00:55'),
    ('GOIANIA', '15/02/2025', 'ALFA', 'JEFFERSON PEREIRA LOYOLA DOS SANTOS', '00:01:06'),
    ('GOIANIA', '15/02/2025', 'ALFA', 'LUCAS ARAG├âO LEITE', '00:00:48'),
    ('GOIANIA', '15/02/2025', 'ALFA', 'NILTON DE SOUZA CABRAL FILHO', '00:00:54'),
    ('GOIANIA', '15/02/2025', 'ALFA', 'THAIS MONIQUE L. BEZERRA DE OLIVEIRA', '00:01:30'),
    ('GOIANIA', '15/02/2025', 'ALFA', 'LAURA MARIA DE SOUZA CARVALHAIS', '00:01:09'),
    ('GOIANIA', '16/02/2025', 'BRAVO', 'LEONARDO FERREIRA DA SILVA', '00:01:03'),
    ('GOIANIA', '16/02/2025', 'BRAVO', 'FRANCO MACEDO BENTO', '00:01:13'),
    ('GOIANIA', '16/02/2025', 'BRAVO', 'KAIQUE CHARLES RATKEIVISZ', '00:01:15'),
    ('GOIANIA', '16/02/2025', 'BRAVO', 'LUIS FERNANDO ABDON NUNES JUNIOR', '00:01:05'),
    ('GOIANIA', '16/02/2025', 'BRAVO', 'GABRIEL MARTINS DE ABREU', '00:01:09'),
    ('GOIANIA', '16/02/2025', 'BRAVO', 'MARCOS VIN├ìCIUS SILVA OLIVEIRA', '00:01:03'),
    ('GOIANIA', '16/02/2025', 'BRAVO', 'NARIA SANTANA DA SILVA', '00:01:04'),
    ('GOIANIA', '16/02/2025', 'BRAVO', 'GUSTAVO ALVES DE SOUZA', '00:00:56'),
    ('GOIANIA', '16/02/2025', 'BRAVO', 'IGOR ALMEIDA DOS SANTOS', '00:01:07'),
    ('GOIANIA', '16/02/2025', 'BRAVO', 'ZACARIAS KEVIN VIEIRA NUNES', '00:01:08')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 4: registros 76 a 100
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '16/02/2025', 'BRAVO', 'GUILHERME DIAS OLIVEIRA', '00:00:49'),
    ('GOIANIA', '17/02/2025', 'CHARLIE', 'GEDIAEL SANTOS FERREIRA', '00:00:59'),
    ('GOIANIA', '17/02/2025', 'CHARLIE', 'ROG├ëRIO ALVES MARTINS', '00:00:58'),
    ('GOIANIA', '17/02/2025', 'CHARLIE', 'HENRIQUE ELER ASSUN├ç├âO', '00:01:18'),
    ('GOIANIA', '17/02/2025', 'CHARLIE', 'MATHEUS GOMES DOS SANTOS', '00:00:54'),
    ('GOIANIA', '17/02/2025', 'CHARLIE', 'GABRIEL ARA├ÜJO LOPES', '00:01:13'),
    ('GOIANIA', '17/02/2025', 'CHARLIE', 'PAULO AUGUSTO CARDOSO NORONHA', '00:01:10'),
    ('GOIANIA', '17/02/2025', 'CHARLIE', 'THIAGO DE SOUZA MONTEIRO', '00:01:13'),
    ('GOIANIA', '17/02/2025', 'CHARLIE', 'LUCAS ARAG├âO LEITE', '00:00:47'),
    ('GOIANIA', '17/02/2025', 'CHARLIE', 'CAMILA GODOY SILVA', '00:01:26'),
    ('GOIANIA', '17/02/2025', 'CHARLIE', 'JEFFERSON PEREIRA LOYOLA DOS SANTOS', '00:01:15'),
    ('GOIANIA', '17/02/2025', 'CHARLIE', 'THAIS MONIQUE L. BEZERRA DE OLIVEIRA', '00:01:27'),
    ('GOIANIA', '18/02/2025', 'DELTA', 'RONAN MARTINS DA COSTA', '00:00:55'),
    ('GOIANIA', '18/02/2025', 'DELTA', 'GABRIEL FERREIRA GON├çALVES', '00:01:05'),
    ('GOIANIA', '18/02/2025', 'DELTA', 'PEDRO HENRIQUE NUNES RAMOS', '00:01:12'),
    ('GOIANIA', '18/02/2025', 'DELTA', 'LEANDRO SOARES GARCIA', '00:00:53'),
    ('GOIANIA', '18/02/2025', 'DELTA', 'S├ìLVIO C├ëSAR FERNANDES FILHO', '00:01:14'),
    ('GOIANIA', '18/02/2025', 'DELTA', 'ARIDELCIO ARA├ÜJO DO NASCIMENTO', '00:01:28'),
    ('GOIANIA', '18/02/2025', 'DELTA', 'N├üRIA SANTANA DA SILVA', '00:01:05'),
    ('GOIANIA', '18/02/2025', 'DELTA', 'JOS├ë ANT├öNIO DE MORAES LEAL', '00:01:17'),
    ('GOIANIA', '18/02/2025', 'DELTA', 'PAULO C├ëSAR DA SILVA OLIVEIRA', '00:01:15'),
    ('GOIANIA', '18/02/2025', 'DELTA', 'MARCELO MAX SOUZA ALMEIDA', '00:01:26'),
    ('GOIANIA', '18/02/2025', 'DELTA', 'RICARDO RODRIGUES GON├çALVES', '00:02:01'),
    ('GOIANIA', '19/02/2025', 'ALFA', 'DIEGO DE JESUS RODRIGUES', '00:01:24'),
    ('GOIANIA', '19/02/2025', 'ALFA', 'MAXWELL ALVES LOPES', '00:00:53')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 5: registros 101 a 125
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '19/02/2025', 'ALFA', 'JONATAZ JUNIOR DA SILVA NASCIMENTO', '00:01:35'),
    ('GOIANIA', '19/02/2025', 'ALFA', 'RONILDO TEODORO DA SILVA JUNIOR', '00:01:00'),
    ('GOIANIA', '19/02/2025', 'ALFA', 'BRENO AUGUSTO MARANH├âO', '00:01:13'),
    ('GOIANIA', '19/02/2025', 'ALFA', 'IGOR ALMEIDA DOS SANTOS', '00:01:14'),
    ('GOIANIA', '19/02/2025', 'ALFA', 'CAMILA GODOY SILVA', '00:01:13'),
    ('GOIANIA', '19/02/2025', 'ALFA', 'CARMEN L├ìDIA MASCARENHAS', '00:01:35'),
    ('GOIANIA', '19/02/2025', 'ALFA', 'NILTON DE SOUZA CABRAL FILHO', '00:01:01'),
    ('GOIANIA', '19/02/2025', 'ALFA', 'LAURA MARIA DE SOUZA CARVALHAIS', '00:01:11'),
    ('GOIANIA', '19/02/2025', 'ALFA', 'WDSON JUNIOR PINHEIRO DA SILVA', '00:01:00'),
    ('GOIANIA', '25/02/2025', 'CHARLIE', 'GEDIAEL SANTOS FERREIRA', '00:01:03'),
    ('GOIANIA', '25/02/2025', 'CHARLIE', 'ROG├ëRIO ALVES MARTINS', '00:00:53'),
    ('GOIANIA', '25/02/2025', 'CHARLIE', 'HENRIQUE ELER ASSUN├ç├âO', '00:01:16'),
    ('GOIANIA', '25/02/2025', 'CHARLIE', 'MATHEUS GOMES DOS SANTOS', '00:00:57'),
    ('GOIANIA', '25/02/2025', 'CHARLIE', 'GABRIEL ARA├ÜJO LOPES', '00:01:06'),
    ('GOIANIA', '25/02/2025', 'CHARLIE', 'THAIS MONIQUE L. BEZERRA DE OLIVEIRA', '00:01:26'),
    ('GOIANIA', '25/02/2025', 'CHARLIE', 'CAMILA GODOY SILVA', '00:01:15'),
    ('GOIANIA', '25/02/2025', 'CHARLIE', 'IGOR ALMEIDA DOS SANTOS', '00:01:05'),
    ('GOIANIA', '25/02/2025', 'CHARLIE', 'NILTON DE SOUZA CABRAL FILHO', '00:01:10'),
    ('GOIANIA', '25/02/2025', 'CHARLIE', 'THIAGO DE SOUZA MONTEIRO', '00:01:03'),
    ('GOIANIA', '25/02/2025', 'CHARLIE', 'RAFAEL BATISTA JUNQUEIRA', '00:01:18'),
    ('GOIANIA', '15/03/2025', 'ALFA', 'LEONARDO FERREIRA DA SILVA', '00:00:47'),
    ('GOIANIA', '15/03/2025', 'ALFA', 'MAXWELL ALVES LOPES', '00:00:48'),
    ('GOIANIA', '15/03/2025', 'ALFA', 'WDSON JUNIOR PINHEIRO DA SILVA', '00:00:53'),
    ('GOIANIA', '15/03/2025', 'ALFA', 'RONILDO TEODORO DA SILVA JUNIOR', '00:01:04'),
    ('GOIANIA', '15/03/2025', 'ALFA', 'PEDRO HENRIQUE NUNES RAMOS', '00:00:52')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 6: registros 126 a 150
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '15/03/2025', 'ALFA', 'RAFAEL BATISTA JUNQUEIRA', '00:01:18'),
    ('GOIANIA', '15/03/2025', 'ALFA', 'NILTON DE SOUZA CABRAL FILHO', '00:01:14'),
    ('GOIANIA', '15/03/2025', 'ALFA', 'SILVIO PASSOS DA SILVA', '00:00:58'),
    ('GOIANIA', '15/03/2025', 'ALFA', 'LAURA MARIAS CARVALHAIS DE SOUZA', '00:01:11'),
    ('GOIANIA', '15/03/2025', 'ALFA', 'PAULO AUGUSTO CARDOSO NORONHA', '00:00:59'),
    ('GOIANIA', '15/03/2025', 'ALFA', 'MAX FELIPE MENDES DE S. FONTENELE', '00:00:57'),
    ('GOIANIA', '16/03/2025', 'BRAVO', 'DIEGO DE JESUS RODRIGUES', '00:01:16'),
    ('GOIANIA', '16/03/2025', 'BRAVO', 'ZACARIAS KEVIN VIERA NUNES', '00:00:59'),
    ('GOIANIA', '16/03/2025', 'BRAVO', 'VIN├ìCIUS LOPES DOS SANTOS', '00:01:03'),
    ('GOIANIA', '16/03/2025', 'BRAVO', 'KAIQUE CHARLES RATKEIVISZ', '00:01:01'),
    ('GOIANIA', '16/03/2025', 'BRAVO', 'LUIS FERNANDO ABDON NUNES J├ÜNIOR', '00:01:07'),
    ('GOIANIA', '16/03/2025', 'BRAVO', 'GUSTAVO ALVES DE SOUZA', '00:00:55'),
    ('GOIANIA', '16/03/2025', 'BRAVO', 'THAIS MONIQUE L. BEZERRA DE OLIVEIRA', '00:01:06'),
    ('GOIANIA', '16/03/2025', 'BRAVO', 'GUILHERME DIAS OLIVEIRA', '00:00:51'),
    ('GOIANIA', '16/03/2025', 'BRAVO', 'VICTOR ANTUNES BRETAS', '00:01:00'),
    ('GOIANIA', '16/03/2025', 'BRAVO', 'MARCOS VIN├ìCIUS SILVA OLIVEIRA', '00:00:56'),
    ('GOIANIA', '16/03/2025', 'BRAVO', 'ARIDELCIO ARA├ÜJO DO NASCIMENTO', '00:01:15'),
    ('GOIANIA', '17/03/2025', 'CHARLIE', 'GEDIAEL SANTOS FERREIRA', '00:01:00'),
    ('GOIANIA', '17/03/2025', 'CHARLIE', 'ROG├ëRIO ALVES MARTINS', '00:00:54'),
    ('GOIANIA', '17/03/2025', 'CHARLIE', 'GABRIEL ARA├ÜJO LOPES', '00:01:10'),
    ('GOIANIA', '17/03/2025', 'CHARLIE', 'HENRIQUE ELER ASSUN├ç├âO', '00:01:15'),
    ('GOIANIA', '17/03/2025', 'CHARLIE', 'MATHEUS GOMES DOS SANTOS', '00:01:07'),
    ('GOIANIA', '17/03/2025', 'CHARLIE', 'CAMILA GODOY SILVA', '00:01:02'),
    ('GOIANIA', '17/03/2025', 'CHARLIE', 'IGOR ALMEIDA DOS SANTOS', '00:01:15'),
    ('GOIANIA', '17/03/2025', 'CHARLIE', 'HELI DE ALMEIDA NERES', '00:00:55')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 7: registros 151 a 175
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '17/03/2025', 'CHARLIE', 'LAURA MARIA CARVALHAIS DE SOUZA', '00:01:07'),
    ('GOIANIA', '17/03/2025', 'CHARLIE', 'NILTON DE SOUZA CABRAL FILHO', '00:00:58'),
    ('GOIANIA', '17/03/2025', 'CHARLIE', 'JEFFERSON PEREIRA LOYOLA DOS SANTOS', '00:01:02'),
    ('GOIANIA', '18/03/2025', 'DELTA', 'RONAN MARTINS DA COSTA', '00:00:58'),
    ('GOIANIA', '18/03/2025', 'DELTA', 'GABRIEL FERREIRA GON├çALVES', '00:01:04'),
    ('GOIANIA', '18/03/2025', 'DELTA', 'PEDRO HENRIQUE NUNES RAMOS', '00:01:03'),
    ('GOIANIA', '18/03/2025', 'DELTA', 'LEANDRO SOARES GARCIA', '00:01:07'),
    ('GOIANIA', '18/03/2025', 'DELTA', 'S├ìLVIO C├ëSAR FERNANDES FILHO', '00:00:58'),
    ('GOIANIA', '18/03/2025', 'DELTA', 'ARIDELCIO ARA├ÜJO DO NASCIMENTO', '00:01:06'),
    ('GOIANIA', '18/03/2025', 'DELTA', 'N├üRIA SANTANA DA SILVA', '00:01:07'),
    ('GOIANIA', '18/03/2025', 'DELTA', 'JOS├ë ANT├öNIO DE MORAES LEAL', '00:01:01'),
    ('GOIANIA', '18/03/2025', 'DELTA', 'PAULO C├ëSAR DA SILVA OLIVEIRA', '00:01:14'),
    ('GOIANIA', '18/03/2025', 'DELTA', 'ZACARIAS KEVIN VIEIRA NUNES', '00:00:51'),
    ('GOIANIA', '18/03/2025', 'DELTA', 'RICARDO RODRIGUES GON├çALVES', '00:01:15'),
    ('GOIANIA', '19/03/2025', 'ALFA', 'DIEGO DE JESUS RODRIGUES', '00:01:13'),
    ('GOIANIA', '19/03/2025', 'ALFA', 'MAXWELL ALVES LOPES', '00:00:46'),
    ('GOIANIA', '19/03/2025', 'ALFA', 'WDSON JUNIOR PINHEIRO DA SILVA', '00:00:45'),
    ('GOIANIA', '19/03/2025', 'ALFA', 'RONILDO TEODORO DA SILVA JUNIOR', '00:00:59'),
    ('GOIANIA', '19/03/2025', 'ALFA', 'JONATAZ JUNIOR DA SILVA NASCIMENTO', '00:00:55'),
    ('GOIANIA', '19/03/2025', 'ALFA', 'HELI DE ALMEIDA NERES', '00:00:59'),
    ('GOIANIA', '19/03/2025', 'ALFA', 'NILTON DE SOUZA CABRAL FILHO', '00:01:00'),
    ('GOIANIA', '19/03/2025', 'ALFA', 'CAMILA GODOY SILVA', '00:01:11'),
    ('GOIANIA', '19/03/2025', 'ALFA', 'LAURA MARIAS CARVALHAIS DE SOUZA', '00:01:10'),
    ('GOIANIA', '19/03/2025', 'ALFA', 'PAULO AUGUSTO CARDOSO NORONHA', '00:00:50'),
    ('GOIANIA', '19/03/2025', 'ALFA', 'MAX FELIPE MENDES DE S. FONTENELE', '00:00:42')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 8: registros 176 a 200
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '12/04/2025', 'ALFA', 'RONAN MARTINS DA COSTA', '00:01:01'),
    ('GOIANIA', '12/04/2025', 'ALFA', 'MAXWELL ALVES LOPES', '00:00:46'),
    ('GOIANIA', '12/04/2025', 'ALFA', 'WDSON JUNIOR PINHEIRO DA SILVA', '00:00:49'),
    ('GOIANIA', '12/04/2025', 'ALFA', 'GABRIEL ARA├ÜJO LOPES', '00:01:05'),
    ('GOIANIA', '12/04/2025', 'ALFA', 'BRENO AUGUSTO MARANH├âO', '00:01:11'),
    ('GOIANIA', '12/04/2025', 'ALFA', 'THA├ìS MONIQUE LIMA BEZERRA DE OLIVEIRA', '00:01:22'),
    ('GOIANIA', '12/04/2025', 'ALFA', 'NILTON DE SOUZA CABRAL FILHO', '00:00:54'),
    ('GOIANIA', '12/04/2025', 'ALFA', 'LEANDRO LU├ìZ DE CARVALHO', '00:01:29'),
    ('GOIANIA', '12/04/2025', 'ALFA', 'LAURA MARIA CARVALHAIS DE SOUZA', '00:01:06'),
    ('GOIANIA', '12/04/2025', 'ALFA', 'S├ìLVIO PASSOS DA SLVA', '00:01:12'),
    ('GOIANIA', '12/04/2025', 'ALFA', 'MAX FELIPE MENDES DE S. FONTENELE', '00:00:47'),
    ('GOIANIA', '13/04/2025', 'BRAVO', 'GEDIAEL SANTOS FERREIRA', '00:01:04'),
    ('GOIANIA', '13/04/2025', 'BRAVO', 'GABRIEL MARTINS DE ABREU', '00:00:51'),
    ('GOIANIA', '13/04/2025', 'BRAVO', 'S├ìLVIO C├ëSAR FERNANDES FILHO', '00:00:56'),
    ('GOIANIA', '13/04/2025', 'BRAVO', 'PEDRO HENRIQUE NUNES RAMOS', '00:00:50'),
    ('GOIANIA', '13/04/2025', 'BRAVO', 'LEANDRO SOARES GARCIA', '00:00:43'),
    ('GOIANIA', '13/04/2025', 'BRAVO', 'VICTOR ANTUNES BRETAS', '00:00:58'),
    ('GOIANIA', '13/04/2025', 'BRAVO', 'RAFAEL BATISTA JUNQUEIRA', '00:00:57'),
    ('GOIANIA', '13/04/2025', 'BRAVO', 'THAIS CRISTINA DE FREITAS GONTIJO', '00:00:57'),
    ('GOIANIA', '13/04/2025', 'BRAVO', 'ZACARIAS KEVIN VIERA NUNES', '00:01:01'),
    ('GOIANIA', '13/04/2025', 'BRAVO', 'N├üRIA SANTANA DA SILVA', '00:00:56'),
    ('GOIANIA', '13/04/2025', 'BRAVO', 'PAULO AUGUSTO CARDOSO NORONHA', '00:00:58'),
    ('GOIANIA', '14/04/2025', 'CHARLIE', 'LEONARDO FERREIRA DA SILVA', '00:00:51'),
    ('GOIANIA', '14/04/2025', 'CHARLIE', 'ROG├ëRIO ALVES MARTINS', '00:00:48'),
    ('GOIANIA', '14/04/2025', 'CHARLIE', 'HENRIQUE ELER ASSUN├ç├âO', '00:01:18')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 9: registros 201 a 225
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '14/04/2025', 'CHARLIE', 'GABRIEL ARA├ÜJO LOPES', '00:01:13'),
    ('GOIANIA', '14/04/2025', 'CHARLIE', 'WDSON J├ÜNIOR PINHEIRO DA SILVA', '00:00:53'),
    ('GOIANIA', '14/04/2025', 'CHARLIE', 'CARMEN LIDIA MASCARENHA', '00:01:05'),
    ('GOIANIA', '14/04/2025', 'CHARLIE', 'CAMILA GODOY SILVA', '00:01:20'),
    ('GOIANIA', '14/04/2025', 'CHARLIE', 'THIAGO DE SOUZA MONTEIRO', '00:01:08'),
    ('GOIANIA', '14/04/2025', 'CHARLIE', 'PAULO CESAR DA SILVA OLIVEIRA', '00:01:16'),
    ('GOIANIA', '14/04/2025', 'CHARLIE', 'RICARDO RODRIGUES GON├çALVES', '00:01:07'),
    ('GOIANIA', '14/04/2025', 'CHARLIE', 'ARIDELCIO ARA├ÜJO DO NASCIMENTO', '00:01:20'),
    ('GOIANIA', '15/04/2025', 'DELTA', 'DIEGO DE JESUS RODRIGUES', '00:01:11'),
    ('GOIANIA', '15/04/2025', 'DELTA', 'GABRIEL FERREIRA GON├çALVES', '00:01:01'),
    ('GOIANIA', '15/04/2025', 'DELTA', 'PEDRO HENRIQUE NUNES RAMOS', '00:00:51'),
    ('GOIANIA', '15/04/2025', 'DELTA', 'LEANDRO SOARES GARCIA', '00:00:53'),
    ('GOIANIA', '15/04/2025', 'DELTA', 'S├ìLVIO C├ëSAR FERNANDES FILHO', '00:00:56'),
    ('GOIANIA', '15/04/2025', 'DELTA', 'IGOR ALMEIDA DOS SANTOS', '00:01:06'),
    ('GOIANIA', '15/04/2025', 'DELTA', 'N├üRIA SANTANA DA SILVA', '00:01:00'),
    ('GOIANIA', '15/04/2025', 'DELTA', 'JOS├ë ANT├öNIO DE MORAES LEAL', '00:01:03'),
    ('GOIANIA', '15/04/2025', 'DELTA', 'HELI DE ALMEIDA NERES', '00:01:01'),
    ('GOIANIA', '15/04/2025', 'DELTA', 'YURI GUERREIRO BORGES', '00:01:06'),
    ('GOIANIA', '15/04/2025', 'DELTA', 'RAFAEL BATISTA JUNQUEIRA', '00:01:04'),
    ('GOIANIA', '10/05/2025', 'ALFA', 'LEONARDO FERREIRA DA SILVA', '00:00:51'),
    ('GOIANIA', '10/05/2025', 'ALFA', 'MAXWELL ALVES LOPES', '00:00:50'),
    ('GOIANIA', '10/05/2025', 'ALFA', 'WDSON JUNIOR PINHEIRO DA SILVA', '00:00:51'),
    ('GOIANIA', '10/05/2025', 'ALFA', 'JONATANZ JUNIOR DA SILVA NASCIMENTO', '00:01:07'),
    ('GOIANIA', '10/05/2025', 'ALFA', 'BRENO AUGUSTO MARANH├âO', '00:01:08'),
    ('GOIANIA', '10/05/2025', 'ALFA', 'THA├ìS CRISTINA DE FREITAS GONTIJO', '00:01:06')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 10: registros 226 a 250
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '10/05/2025', 'ALFA', 'NILTON DE SOUZA CABRAL FILHO', '00:01:04'),
    ('GOIANIA', '10/05/2025', 'ALFA', 'RICARDO RODRIGUES GON├çALVES', '00:01:04'),
    ('GOIANIA', '10/05/2025', 'ALFA', 'LAURA MARIA CARVALHAIS DE SOUZA', '00:01:05'),
    ('GOIANIA', '10/05/2025', 'ALFA', 'S├ìLVIO PASSOS DA SILVA', '00:01:02'),
    ('GOIANIA', '10/05/2025', 'ALFA', 'MAX FELIPE MENDES DE S. FONTENELE', '00:01:01'),
    ('GOIANIA', '11/05/2025', 'BRAVO', 'GEDIAEL SANTOS FERREIRA', '00:01:07'),
    ('GOIANIA', '11/05/2025', 'BRAVO', 'ZACARIAS KEVIN VIERA NUNES', '00:00:49'),
    ('GOIANIA', '11/05/2025', 'BRAVO', 'KAIQUE CHARLES RATKEIVISZ', '00:00:58'),
    ('GOIANIA', '11/05/2025', 'BRAVO', 'GABRIEL MARTINS DE ABREU', '00:00:55'),
    ('GOIANIA', '11/05/2025', 'BRAVO', 'VIN├ìCIUS LOPES DOS SANTOS', '00:01:02'),
    ('GOIANIA', '11/05/2025', 'BRAVO', 'LUIS FERNANDO ABDON NUNES J├ÜNIOR', '00:01:08'),
    ('GOIANIA', '11/05/2025', 'BRAVO', 'LEANDRO LU├ìZ DE CARVALHO', '00:01:13'),
    ('GOIANIA', '11/05/2025', 'BRAVO', 'VICTOR ANTUNES BRETAS', '00:01:06'),
    ('GOIANIA', '11/05/2025', 'BRAVO', 'PAULO AUGUSTO CARDOSO NORONHA', '00:00:58'),
    ('GOIANIA', '11/05/2025', 'BRAVO', 'THAIS MONIQUE L. BEZERRA DE OLIVEIRA', '00:01:10'),
    ('GOIANIA', '11/05/2025', 'BRAVO', 'MARCOS VIN├ìCIUS SILVA OLIVEIRA', '00:00:57'),
    ('GOIANIA', '12/05/2025', 'CHARLIE', 'LEONARDO FERREIRA DA SILVA', '00:01:21'),
    ('GOIANIA', '12/05/2025', 'CHARLIE', 'ROG├ëRIO ALVES MARTINS', '00:00:58'),
    ('GOIANIA', '12/05/2025', 'CHARLIE', 'HENRIQUE ELER ASSUN├ç├âO', '00:00:59'),
    ('GOIANIA', '12/05/2025', 'CHARLIE', 'GABRIEL ARA├ÜJO LOPES', '00:01:13'),
    ('GOIANIA', '12/05/2025', 'CHARLIE', 'MATHEUS GOMES DOS SANTOS', '00:00:52'),
    ('GOIANIA', '12/05/2025', 'CHARLIE', 'THAIS CRISTINA DE FREITAS GONTIJO', '00:01:14'),
    ('GOIANIA', '12/05/2025', 'CHARLIE', 'CAMILA GODOY SILVA', '00:01:06'),
    ('GOIANIA', '12/05/2025', 'CHARLIE', 'THIAGO DE SOUZA MONTEIRO', '00:01:16'),
    ('GOIANIA', '12/05/2025', 'CHARLIE', 'YURI GUERREIRO BORGES', '00:01:11')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 11: registros 251 a 275
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '12/05/2025', 'CHARLIE', 'HELI DE ALMEIDA NERES', '00:01:03'),
    ('GOIANIA', '12/05/2025', 'CHARLIE', 'IGOR ALMEIDA DOS SANTOS', '00:01:13'),
    ('GOIANIA', '13/05/2025', 'DELTA', 'DIEGO DE JESUS RODRIGUES', '00:01:12'),
    ('GOIANIA', '13/05/2025', 'DELTA', 'GABRIEL FERREIRA GON├çALVES', '00:01:04'),
    ('GOIANIA', '13/05/2025', 'DELTA', 'PEDRO HENRIQUE NUNES RAMOS', '00:01:04'),
    ('GOIANIA', '13/05/2025', 'DELTA', 'LEANDRO SOARES GARCIA', '00:00:57'),
    ('GOIANIA', '13/05/2025', 'DELTA', 'S├ìLVIO C├ëSAR FERNANDES FILHO', '00:01:18'),
    ('GOIANIA', '13/05/2025', 'DELTA', 'ARIDELCIO ARA├ÜJO DO NASCIMENTO', '00:01:09'),
    ('GOIANIA', '13/05/2025', 'DELTA', 'N├üRIA SANTANA DA SILVA', '00:01:19'),
    ('GOIANIA', '13/05/2025', 'DELTA', 'JOS├ë ANT├öNIO DE MORAES LEAL', '00:00:58'),
    ('GOIANIA', '13/05/2025', 'DELTA', 'MARCELO MAX DE SOUZA ALMEIDA', '00:01:06'),
    ('GOIANIA', '13/05/2025', 'DELTA', 'PAULO C├ëSAR DA SILVA OLIVEIRA', '00:01:08'),
    ('GOIANIA', '13/05/2025', 'DELTA', 'RAFAEL BATISTA JUNQUEIRA', '00:01:01'),
    ('GOIANIA', '07/06/2025', 'ALFA', 'LEONARDO FERREIRA DA SILVA', '00:00:56'),
    ('GOIANIA', '07/06/2025', 'ALFA', 'MAXWELL ALVES LOPES', '00:00:54'),
    ('GOIANIA', '07/06/2025', 'ALFA', 'RONILDO TEODORO DA SILVA JUNIOR', '00:01:12'),
    ('GOIANIA', '07/06/2025', 'ALFA', 'JONATANZ JUNIOR DA SILVA NASCIMENTO', '00:01:29'),
    ('GOIANIA', '07/06/2025', 'ALFA', 'THIAGO DE SOUZA MONTEIRO', '00:01:13'),
    ('GOIANIA', '07/06/2025', 'ALFA', 'THA├ìS CRISTINA DE FREITAS GONTIJO', '00:01:11'),
    ('GOIANIA', '07/06/2025', 'ALFA', 'NILTON DE SOUZA CABRAL FILHO', '00:01:11'),
    ('GOIANIA', '07/06/2025', 'ALFA', 'RICARDO RODRIGUES GON├çALVES', '00:01:26'),
    ('GOIANIA', '07/06/2025', 'ALFA', 'LAURA MARIA CARVALHAIS DE SOUZA', '00:01:17'),
    ('GOIANIA', '07/06/2025', 'ALFA', 'S├ìLVIO PASSOS DA SILVA', '00:00:57'),
    ('GOIANIA', '07/06/2025', 'ALFA', 'MAX FELIPE MENDES DE S. FONTENELE', '00:01:03'),
    ('GOIANIA', '08/06/2025', 'BRAVO', 'GEDIAEL SANTOS FERREIRA', '00:01:09')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 12: registros 276 a 300
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '08/06/2025', 'BRAVO', 'ZACARIAS KEVIN VIEIRA NUNES', '00:01:10'),
    ('GOIANIA', '08/06/2025', 'BRAVO', 'VIN├ìCIUS LOPES DOS SANTOS', '00:01:10'),
    ('GOIANIA', '08/06/2025', 'BRAVO', 'KAIQUE CHARLES RATKEIVISZ', '00:01:20'),
    ('GOIANIA', '08/06/2025', 'BRAVO', 'GABRIEL MARTINS DE ABREU', '00:01:04'),
    ('GOIANIA', '08/06/2025', 'BRAVO', 'CARMEN L├ìDIA MASCARENHAS', '00:01:22'),
    ('GOIANIA', '08/06/2025', 'BRAVO', 'LUIS FERNANDO ABDON NUNES J├ÜNIOR', '00:01:29'),
    ('GOIANIA', '08/06/2025', 'BRAVO', 'LEANDRO LU├ìZ DE CARVALHO', '00:01:30'),
    ('GOIANIA', '08/06/2025', 'BRAVO', 'MARCOS VIN├ìCIUS SILVA OLIVEIRA', '00:00:59'),
    ('GOIANIA', '08/06/2025', 'BRAVO', 'VICTOR ANTUNES BRETAS', '00:01:16'),
    ('GOIANIA', '08/06/2025', 'BRAVO', 'THAIS MONIQUE L. BEZERRA DE OLIVEIRA', '00:01:20'),
    ('GOIANIA', '09/06/2025', 'CHARLIE', 'LEONARDO FERREIRA DA SILVA', '00:00:54'),
    ('GOIANIA', '09/06/2025', 'CHARLIE', 'MAXWELL ARAUJO LOPES', '00:00:51'),
    ('GOIANIA', '09/06/2025', 'CHARLIE', 'THIAGO DE SOUZA MONTEIRO', '00:01:14'),
    ('GOIANIA', '09/06/2025', 'CHARLIE', 'GABRIEL ARA├ÜJO LOPES', '00:01:21'),
    ('GOIANIA', '09/06/2025', 'CHARLIE', 'MATHEUS GOMES DOS SANTOS', '00:01:28'),
    ('GOIANIA', '09/06/2025', 'CHARLIE', 'YURI GUERREIRO BORGES', '00:01:20'),
    ('GOIANIA', '09/06/2025', 'CHARLIE', 'PAULO CESAR DA SILVA CARDOSO', '00:01:01'),
    ('GOIANIA', '09/06/2025', 'CHARLIE', 'JEFFERSON PEREIRA LOYOLA DOS SANTOS', '00:01:26'),
    ('GOIANIA', '09/06/2025', 'CHARLIE', 'CAMILA GODOY SILVA', '00:01:18'),
    ('GOIANIA', '09/06/2025', 'CHARLIE', 'IGOR ALMEIDA DOS SANTOS', '00:01:18'),
    ('GOIANIA', '09/06/2025', 'CHARLIE', 'HELI DE ALMEIDA NERES', '00:01:28'),
    ('GOIANIA', '10/06/2025', 'DELTA', 'DIEGO DE JESUS RODRIGUES', '00:01:19'),
    ('GOIANIA', '10/06/2025', 'DELTA', 'GABRIEL FERREIRA GON├çALVES', '00:01:11'),
    ('GOIANIA', '10/06/2025', 'DELTA', 'PEDRO HENRIQUE NUNES RAMOS', '00:01:07'),
    ('GOIANIA', '10/06/2025', 'DELTA', 'LEANDRO SOARES GARCIA', '00:01:07')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 13: registros 301 a 325
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '10/06/2025', 'DELTA', 'S├ìLVIO C├ëSAR FERNANDES FILHO', '00:01:08'),
    ('GOIANIA', '10/06/2025', 'DELTA', 'ARIDELCIO ARA├ÜJO DO NASCIMENTO', '00:01:18'),
    ('GOIANIA', '10/06/2025', 'DELTA', 'N├üRIA SANTANA DA SILVA', '00:01:07'),
    ('GOIANIA', '10/06/2025', 'DELTA', 'JOS├ë ANT├öNIO DE MORAES LEAL', '00:01:17'),
    ('GOIANIA', '10/06/2025', 'DELTA', 'MARCELO MAX DE SOUZA ALMEIDA', '00:01:04'),
    ('GOIANIA', '10/06/2025', 'DELTA', 'PAULO C├ëSAR DA SILVA OLIVEIRA', '00:01:16'),
    ('GOIANIA', '10/06/2025', 'DELTA', 'NILTON DE SOUZA CABRAL FILHO', '00:00:56'),
    ('GOIANIA', '05/07/2025', 'ALFA', 'RONAN MARTINS DA COSTA', '00:01:03'),
    ('GOIANIA', '05/07/2025', 'ALFA', 'MAXWELL ALVES LOPES', '00:00:54'),
    ('GOIANIA', '05/07/2025', 'ALFA', 'RONILDO TEODORO DA SILVA J├ÜNIOR', '00:01:20'),
    ('GOIANIA', '05/07/2025', 'ALFA', 'JONATAZ J├ÜNIOR DA SILVA NASCIMENTO', '00:01:24'),
    ('GOIANIA', '05/07/2025', 'ALFA', 'BRENO AUGUSTO MARANH├âO', '00:01:24'),
    ('GOIANIA', '05/07/2025', 'ALFA', 'WDSON J├ÜNIOR PINHEIRO DA SILVA', '00:00:43'),
    ('GOIANIA', '05/07/2025', 'ALFA', 'NILTON DE SOUZA CABRAL FILHO', '00:00:57'),
    ('GOIANIA', '05/07/2025', 'ALFA', 'RICARDO RODRIGUES GON├çALVES', '00:01:14'),
    ('GOIANIA', '05/07/2025', 'ALFA', 'LAURA MARIA CARVALHAIS DE SOUZA', '00:01:17'),
    ('GOIANIA', '05/07/2025', 'ALFA', 'S├ìLVIO PASSOS DA SILVA', '00:00:59'),
    ('GOIANIA', '05/07/2025', 'ALFA', 'MAX FELIPE MENDES DE S. FONTENELE', '00:00:51'),
    ('GOIANIA', '06/07/2025', 'BRAVO', 'GABRIEL MARTINS DE ABREU', '00:00:58'),
    ('GOIANIA', '06/07/2025', 'BRAVO', 'ZACARIAS KEVIN VIEIRA NUNES', '00:00:51'),
    ('GOIANIA', '06/07/2025', 'BRAVO', 'HENRIQUE ELER ASSUN├ç├âO PINTO', '00:01:17'),
    ('GOIANIA', '06/07/2025', 'BRAVO', 'KAIQUE CHARLES RATKEIVISZ', '00:01:17'),
    ('GOIANIA', '06/07/2025', 'BRAVO', 'VIN├ìCIUS LOPES DOS SANTOS', '00:01:10'),
    ('GOIANIA', '06/07/2025', 'BRAVO', 'MARCOS VIN├ìCIUS SILVA OLIVEIRA', '00:00:57'),
    ('GOIANIA', '06/07/2025', 'BRAVO', 'HELI DE ALMEIDA NERES', '00:01:03')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 14: registros 326 a 350
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '06/07/2025', 'BRAVO', 'GUSTAVO ALVES DE SOUZA', '00:01:06'),
    ('GOIANIA', '06/07/2025', 'BRAVO', 'THAIS MONIQUE L. BEZERRA DE OLIVEIRA', '00:00:59'),
    ('GOIANIA', '06/07/2025', 'BRAVO', 'LEANDRO LU├ìZ DE CARVALHO', '00:01:16'),
    ('GOIANIA', '06/07/2025', 'BRAVO', 'VICTOR ANTUNES BRETAS', '00:00:58'),
    ('GOIANIA', '07/07/2025', 'CHARLIE', 'DIEGO DE JESUS RODRIGUES', '00:01:16'),
    ('GOIANIA', '07/07/2025', 'CHARLIE', 'ROG├ëRIO ALVES MARTINS', '00:01:18'),
    ('GOIANIA', '07/07/2025', 'CHARLIE', 'CARMEN LIDIA MASCARENHA', '00:01:30'),
    ('GOIANIA', '07/07/2025', 'CHARLIE', 'GABRIEL ARA├ÜJO LOPES', '00:01:04'),
    ('GOIANIA', '07/07/2025', 'CHARLIE', 'MATHEUS GOMES DOS SANTOS', '00:01:08'),
    ('GOIANIA', '07/07/2025', 'CHARLIE', 'YURI GUERREIRO BORGES', '00:01:20'),
    ('GOIANIA', '07/07/2025', 'CHARLIE', 'PAULO CESAR DA SILVA CARDOSO', '00:01:13'),
    ('GOIANIA', '07/07/2025', 'CHARLIE', 'JEFFERSON PEREIRA LOYOLA DOS SANTOS', '00:00:57'),
    ('GOIANIA', '07/07/2025', 'CHARLIE', 'CAMILA GODOY SILVA', '00:01:18'),
    ('GOIANIA', '07/07/2025', 'CHARLIE', 'IGOR ALMEIDA DOS SANTOS', '00:01:26'),
    ('GOIANIA', '07/07/2025', 'CHARLIE', 'JHONATA SILVA TOMAZ', '00:01:14'),
    ('GOIANIA', '08/07/2025', 'DELTA', 'LEONARDO FERREIRA DA SILVA', '00:00:57'),
    ('GOIANIA', '08/07/2025', 'DELTA', 'PEDRO HENRIQUE NUNES RAMOS', '00:00:50'),
    ('GOIANIA', '08/07/2025', 'DELTA', 'LEANDRO SOARES GARCIA', '00:01:01'),
    ('GOIANIA', '08/07/2025', 'DELTA', 'S├ìLVIO C├ëSAR FERNANDES FILHO', '00:01:02'),
    ('GOIANIA', '08/07/2025', 'DELTA', 'RAFAEL BATISTA JUNQUEIRA', '00:01:07'),
    ('GOIANIA', '08/07/2025', 'DELTA', 'N├üRIA SANTANA DA SILVA', '00:01:12'),
    ('GOIANIA', '08/07/2025', 'DELTA', 'JOS├ë ANT├öNIO DE MORAES LEAL', '00:01:16'),
    ('GOIANIA', '08/07/2025', 'DELTA', 'MARCELO MAX DE SOUZA ALMEIDA', '00:01:04'),
    ('GOIANIA', '08/07/2025', 'DELTA', 'PAULO C├ëSAR DA SILVA OLIVEIRA', '00:01:06'),
    ('GOIANIA', '08/07/2025', 'DELTA', 'THAIS CRISTINA DE FREITAS GONTIJO', '00:01:05')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 15: registros 351 a 375
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '02/08/2025', 'ALFA', 'RONAN MARTINS DA COSTA', '00:00:51'),
    ('GOIANIA', '02/08/2025', 'ALFA', 'NILTON DE SOUZA CABRAL FILHO', '00:00:59'),
    ('GOIANIA', '02/08/2025', 'ALFA', 'RONILDO TEODORO DA SILVA J├ÜNIOR', '00:00:49'),
    ('GOIANIA', '02/08/2025', 'ALFA', 'JONATAZ J├ÜNIOR DA SILVA NASCIMENTO', '00:01:23'),
    ('GOIANIA', '02/08/2025', 'ALFA', 'BRENO AUGUSTO MARANH├âO', '00:01:10'),
    ('GOIANIA', '02/08/2025', 'ALFA', 'LEANDRO LUIZ DE CARVALHO', '00:01:00'),
    ('GOIANIA', '02/08/2025', 'ALFA', 'RAFAEL BATISTA JUNQUEIRA', '00:00:57'),
    ('GOIANIA', '02/08/2025', 'ALFA', 'RICARDO RODRIGUES GON├çALVES', '00:01:09'),
    ('GOIANIA', '02/08/2025', 'ALFA', 'JEFFERSON PEREIRA LOYOLA DOS SANTOS', '00:01:19'),
    ('GOIANIA', '02/08/2025', 'ALFA', 'S├ìLVIO PASSOS DA SILVA', '00:01:00'),
    ('GOIANIA', '02/08/2025', 'BRAVO', 'GEDIAEL SANTOS FERREIRA', '00:01:14'),
    ('GOIANIA', '02/08/2025', 'BRAVO', 'MARCOS VIN├ìCIUS SILVA OLIVEIRA', '00:00:56'),
    ('GOIANIA', '02/08/2025', 'BRAVO', 'VIN├ìCIUS LOPES DOS SANTOS', '00:01:19'),
    ('GOIANIA', '02/08/2025', 'BRAVO', 'GABRIEL MARTINS DE ABREU', '00:01:15'),
    ('GOIANIA', '02/08/2025', 'BRAVO', 'LUIS FERNANDO ABDON NUNES J├ÜNIOR', '00:01:18'),
    ('GOIANIA', '02/08/2025', 'BRAVO', 'VICTOR ANTUNES BRETAS', '00:01:03'),
    ('GOIANIA', '02/08/2025', 'BRAVO', 'THA├ìS CRISTINA DE FREITAS GONTIJO', '00:01:08'),
    ('GOIANIA', '02/08/2025', 'BRAVO', 'ZACARIAS KEVIN VIEIRA NUNES', '00:01:09'),
    ('GOIANIA', '02/08/2025', 'BRAVO', 'PAULO CESAR DA SILVA CARDOSO', '00:01:05'),
    ('GOIANIA', '02/08/2025', 'BRAVO', 'GUSTAVO ALVES DE SOUZA', '00:01:00'),
    ('GOIANIA', '03/08/2025', 'CHARLIE', 'LEONARDO FERREIRA DA SILVA', '00:01:11'),
    ('GOIANIA', '03/08/2025', 'CHARLIE', 'NILTON DE SOUZA CABRAL FILHO', '00:01:15'),
    ('GOIANIA', '03/08/2025', 'CHARLIE', 'HENRIQUE ELER ASSUN├ç├âO PINTO', '00:01:02'),
    ('GOIANIA', '03/08/2025', 'CHARLIE', 'GABRIEL ARA├ÜJO LOPES', '00:01:05'),
    ('GOIANIA', '03/08/2025', 'CHARLIE', 'MATHEUS GOMES DOS SANTOS', '00:01:06')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 16: registros 376 a 400
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '03/08/2025', 'CHARLIE', 'CARMEN LIDIA MASCARENHAS', '00:01:25'),
    ('GOIANIA', '03/08/2025', 'CHARLIE', 'HELI DE ALMEIDA NERES', '00:01:09'),
    ('GOIANIA', '03/08/2025', 'CHARLIE', 'JEFFERSON PEREIRA LOYOLA DOS SANTOS', '00:00:55'),
    ('GOIANIA', '03/08/2025', 'CHARLIE', 'THIAGO DE SOUZA MONTEIRO', '00:01:26'),
    ('GOIANIA', '03/08/2025', 'CHARLIE', 'IGOR ALMEIDA DOS SANTOS', '00:01:02'),
    ('GOIANIA', '04/08/2025', 'DELTA', 'DIEGO DE JESUS RODRIGUES', '00:01:17'),
    ('GOIANIA', '04/08/2025', 'DELTA', 'GABRIEL FERREIRA GON├çALVES', '00:01:06'),
    ('GOIANIA', '04/08/2025', 'DELTA', 'PEDRO HENRIQUE NUNES RAMOS', '00:01:07'),
    ('GOIANIA', '04/08/2025', 'DELTA', 'LEANDRO SOARES GARCIA', '00:01:02'),
    ('GOIANIA', '04/08/2025', 'DELTA', 'S├ìLVIO C├ëSAR FERNANDES FILHO', '00:01:14'),
    ('GOIANIA', '04/08/2025', 'DELTA', 'CAMILA GODOY SILVA', '00:01:16'),
    ('GOIANIA', '04/08/2025', 'DELTA', 'N├üRIA SANTANA DA SILVA', '00:01:11'),
    ('GOIANIA', '04/08/2025', 'DELTA', 'JOS├ë ANT├öNIO DE MORAES LEAL', '00:01:11'),
    ('GOIANIA', '04/08/2025', 'DELTA', 'ARIDELCIO ARA├ÜJO DO NASCIMENTO', '00:01:12'),
    ('GOIANIA', '04/08/2025', 'DELTA', 'PAULO C├ëSAR DA SILVA OLIVEIRA', '00:01:06'),
    ('GOIANIA', '30/08/2025', 'ALFA', 'RONAN MARTINS DA COSTA', '00:01:25'),
    ('GOIANIA', '30/08/2025', 'ALFA', 'MAXWELL ALVES LOPES', '00:00:55'),
    ('GOIANIA', '30/08/2025', 'ALFA', 'HENRIQUE ELER ASSUN├ç├âO PINTO', '00:01:22'),
    ('GOIANIA', '30/08/2025', 'ALFA', 'JONATAZ J├ÜNIOR DA SILVA NASCIMENTO', '00:01:32'),
    ('GOIANIA', '30/08/2025', 'ALFA', 'BRENO AUGUSTO MARANH├âO', '00:01:19'),
    ('GOIANIA', '30/08/2025', 'ALFA', 'WDSON J├ÜNIOR PINHEIRO DA SILVA', '00:00:49'),
    ('GOIANIA', '30/08/2025', 'ALFA', 'LAURA MARIA CARVALHAIS DE SOUZA', '00:01:17'),
    ('GOIANIA', '30/08/2025', 'ALFA', 'RICARDO RODRIGUES GON├çALVES', '00:01:16'),
    ('GOIANIA', '30/08/2025', 'ALFA', 'NILTON DE SOUZA CABRAL FILHO', '00:01:03'),
    ('GOIANIA', '30/08/2025', 'ALFA', 'S├ìLVIO PASSOS DA SILVA', '00:01:00')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 17: registros 401 a 425
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '31/08/2025', 'BRAVO', 'GEDIAEL SANTOS FERREIRA', '00:00:58'),
    ('GOIANIA', '31/08/2025', 'BRAVO', 'ROG├ëRIO ALVES MARTINS', '00:01:00'),
    ('GOIANIA', '31/08/2025', 'BRAVO', 'LUIS FERNANDO ABDON NUNES J├ÜNIOR', '00:01:02'),
    ('GOIANIA', '31/08/2025', 'BRAVO', 'VIN├ìCIUS LOPES DOS SANTOS', '00:01:03'),
    ('GOIANIA', '31/08/2025', 'BRAVO', 'GABRIEL MARTINS DE ABREU', '00:01:08'),
    ('GOIANIA', '31/08/2025', 'BRAVO', 'PAULO CESAR DA SILVA CARDOSO', '00:00:55'),
    ('GOIANIA', '31/08/2025', 'BRAVO', 'GUSTAVO ALVES DE SOUZA', '00:00:58'),
    ('GOIANIA', '31/08/2025', 'BRAVO', 'VICTOR ANTUNES BRETAS', '00:00:58'),
    ('GOIANIA', '31/08/2025', 'BRAVO', 'MARCOS VIN├ìCIUS SILVA OLIVEIRA', '00:00:59'),
    ('GOIANIA', '31/08/2025', 'BRAVO', 'ZACARIAS KEVIN VIEIRA NUNES', '00:00:59'),
    ('GOIANIA', '01/09/2025', 'CHARLIE', 'LEONARDO FERREIRA DA SILVA', '00:00:56'),
    ('GOIANIA', '01/09/2025', 'CHARLIE', 'KAIQUE CHARLES RATKEIVISZ', '00:00:59'),
    ('GOIANIA', '01/09/2025', 'CHARLIE', 'HENRIQUE ELER ASSUN├ç├âO PINTO', '00:01:14'),
    ('GOIANIA', '01/09/2025', 'CHARLIE', 'GABREIL ARAUJO LOPES', '00:01:09'),
    ('GOIANIA', '01/09/2025', 'CHARLIE', 'MATHEUS GOMES DOS SANTOS', '00:01:08'),
    ('GOIANIA', '01/09/2025', 'CHARLIE', 'CARMEN LIDIA MASCARENHAS', '00:01:11'),
    ('GOIANIA', '01/09/2025', 'CHARLIE', 'HELI DE ALMEIDA NERES', '00:01:08'),
    ('GOIANIA', '01/09/2025', 'CHARLIE', 'JEFFERSON PEREIRA LOYOLA DOS SANTOS', '00:01:16'),
    ('GOIANIA', '01/09/2025', 'CHARLIE', 'THIAGO DE SOUZA MONTEIRO', '00:01:13'),
    ('GOIANIA', '01/09/2025', 'CHARLIE', 'IGOR ALMEIDA DOS SANTOS', '00:01:01'),
    ('GOIANIA', '27/09/2025', 'ALFA', 'RONAN MARTINS DA COSTA', '00:00:58'),
    ('GOIANIA', '27/09/2025', 'ALFA', 'MAXWELL ALVES LOPES', '00:00:55'),
    ('GOIANIA', '27/09/2025', 'ALFA', 'WDSON J├ÜNIOR PINHEIRO DA SILVA', '00:01:10'),
    ('GOIANIA', '27/09/2025', 'ALFA', 'RONILDO TEODORO DA SILVA J├ÜNIOR', '00:01:01'),
    ('GOIANIA', '27/09/2025', 'ALFA', 'BRENO AUGUSTO MARANH├âO', '00:01:02')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Lote 18: registros 426 a 439
WITH info_base AS (
  SELECT id as secao_id FROM secoes WHERE nome = 'Goi├ónia' LIMIT 1
)
INSERT INTO tempo_epr (
  secao_id, equipe_id, usuario_id, data_referencia,
  nome_cidade, data_exercicio_epr, nome_completo, tempo_epr, status, equipe,
  created_at, updated_at
)
SELECT 
  (SELECT secao_id FROM info_base) as secao_id,
  f.equipe_id,
  f.id as usuario_id,
  CURRENT_DATE as data_referencia,
  'GOIANIA' as nome_cidade,
  TO_DATE(fd.data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
  f.nome_completo,
  CASE 
    WHEN fd.tempo_original IS NULL THEN NULL
    WHEN fd.tempo_original LIKE '00:__:__' THEN SUBSTRING(fd.tempo_original, 4, 5)
    WHEN fd.tempo_original LIKE '00:__' THEN fd.tempo_original
    ELSE fd.tempo_original
  END as tempo_epr,
  CASE 
    WHEN fd.tempo_original IS NULL THEN 'Atestado M├®dico'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
    WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(fd.tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
    ELSE 'Reprovado'
  END as status,
  e.nome as equipe,
  NOW(),
  NOW()
FROM (
  VALUES 
    ('GOIANIA', '27/09/2025', 'ALFA', 'IGOR ALMEIDA DOS SANTOS', '00:00:57'),
    ('GOIANIA', '27/09/2025', 'ALFA', 'LAURA MARIA CARVALHAIS DE SOUZA', '00:01:01'),
    ('GOIANIA', '27/09/2025', 'ALFA', 'PAULO AUGUSTO CARDOSO NORONHA', '00:00:57'),
    ('GOIANIA', '27/09/2025', 'ALFA', 'NILTON DE SOUZA CABRAL FILHO', '00:00:57'),
    ('GOIANIA', '27/09/2025', 'ALFA', 'S├ìLVIO PASSOS DA SILVA', '00:00:57'),
    ('GOIANIA', '29/09/2025', 'CHARLIE', 'MATHEUS GOMES DOS SANTOS', '00:00:57'),
    ('GOIANIA', '29/09/2025', 'CHARLIE', 'KAIQUE CHARLES RATKEIVISZ', '00:01:20'),
    ('GOIANIA', '29/09/2025', 'CHARLIE', 'HENRIQUE ELER ASSUN├ç├âO PINTO', '00:01:08'),
    ('GOIANIA', '29/09/2025', 'CHARLIE', 'GABREIL ARAUJO LOPES', '00:01:08'),
    ('GOIANIA', '29/09/2025', 'CHARLIE', 'THIAGO DE SOUZA MONTEIRO', '00:01:30'),
    ('GOIANIA', '29/09/2025', 'CHARLIE', 'CARMEN LIDIA MASCARENHAS', '00:01:05'),
    ('GOIANIA', '29/09/2025', 'CHARLIE', 'HELI DE ALMEIDA NERES', '00:01:09'),
    ('GOIANIA', '29/09/2025', 'CHARLIE', 'JEFFERSON PEREIRA LOYOLA DOS SANTOS', '00:01:09'),
    ('GOIANIA', '29/09/2025', 'CHARLIE', 'LEANDRO LUIS DE CARVALHO', '00:00:58')
) AS fd(data_cidade, data_exercicio, data_equipe, data_nome, tempo_original)
JOIN funcionarios f ON f.nome_completo = fd.data_nome
JOIN equipes e ON e.nome = fd.data_equipe AND e.secao_id = (SELECT secao_id FROM info_base)
;

-- Relat├│rio de inser├º├úo
SELECT 
  'Resumo da Inser├º├úo de Tempos EPR - Goi├ónia:' as titulo
UNION ALL
SELECT 
  'Total de registros inseridos: ' || COUNT(*) 
FROM tempo_epr 
WHERE nome_cidade = 'GOIANIA' 
  AND data_exercicio_epr BETWEEN '2025-01-11' AND '2025-01-21'
UNION ALL
SELECT 
  'Per├¡odo: 11/01/2025 a 21/01/2025';

-- Estat├¡sticas por equipe e status
SELECT 
  equipe,
  status,
  COUNT(*) as quantidade
FROM tempo_epr 
WHERE nome_cidade = 'GOIANIA'
  AND data_exercicio_epr BETWEEN '2025-01-11' AND '2025-01-21'
GROUP BY equipe, status
ORDER BY equipe, status;
