-- MIGRA├ç├âO: Cadastrar Tempos EPR - Goi├ónia 2025 (Completo)
-- ========================================================
-- Script para inserir todos os tempos de EPR dos funcion├írios de Goi├ónia
-- Total de registros: 439 funcion├írios em diferentes datas e equipes
-- Gerado automaticamente a partir do JSON

-- Fun├º├úo para converter tempo HH:MM:SS para MM:SS e calcular status
-- Regras de avalia├º├úo:
-- Ideal: Ôëñ 50 segundos (00:50)
-- Toler├ível: 51-60 segundos (00:51-01:00)
-- Reprovado: > 60 segundos (> 01:00)

-- Criar tabela tempor├íria para processar os dados
CREATE TEMP TABLE temp_epr_data (
  cidade VARCHAR(50),
  data_exercicio VARCHAR(10),
  equipe VARCHAR(10),
  nome_completo VARCHAR(100),
  tempo_original VARCHAR(10)
);

-- Lote 1: registros 1 a 50

-- Lote 2: registros 51 a 100

-- Lote 3: registros 101 a 150

-- Lote 4: registros 151 a 200

-- Lote 5: registros 201 a 250

-- Lote 6: registros 251 a 300

-- Lote 7: registros 301 a 350

-- Lote 8: registros 351 a 400

-- Lote 9: registros 401 a 439

-- Processar e inserir os dados
WITH dados_processados AS (
  SELECT 
    cidade as nome_cidade,
    TO_DATE(data_exercicio, 'DD/MM/YYYY') as data_exercicio_epr,
    nome_completo,
    -- Converter tempo HH:MM:SS para MM:SS
    CASE 
      WHEN tempo_original IS NULL THEN NULL
      WHEN tempo_original LIKE '00:__:__' THEN SUBSTRING(tempo_original, 4, 5)
      WHEN tempo_original LIKE '00:__' THEN tempo_original
      ELSE tempo_original
    END as tempo_epr,
    -- Calcular status baseado no tempo em segundos
    CASE 
      WHEN tempo_original IS NULL THEN 'Atestado M├®dico'
      WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 50 THEN 'Ideal'
      WHEN EXTRACT(EPOCH FROM TO_TIMESTAMP(tempo_original, 'HH24:MI:SS')) - EXTRACT(EPOCH FROM TO_TIMESTAMP('00:00:00', 'HH24:MI:SS')) <= 60 THEN 'Toler├ível'
      ELSE 'Reprovado'
    END as status
  FROM temp_epr_data
)
INSERT INTO tempo_epr (
  nome_cidade,
  data_exercicio_epr,
  nome_completo,
  tempo_epr,
  status,
  created_at,
  updated_at
)
SELECT 
  nome_cidade,
  data_exercicio_epr,
  nome_completo,
  tempo_epr,
  status,
  NOW(),
  NOW()
FROM dados_processados
ON CONFLICT (nome_completo, data_exercicio_epr) 
DO UPDATE SET
  tempo_epr = EXCLUDED.tempo_epr,
  status = EXCLUDED.status,
  updated_at = NOW();

-- Limpar tabela tempor├íria
DROP TABLE temp_epr_data;

-- Relat├│rio de inser├º├úo
SELECT 
  'Resumo da Inser├º├úo de Tempos EPR - Goi├ónia:' as titulo
UNION ALL
SELECT 
  'Total de registros inseridos/atualizados: ' || COUNT(*) 
FROM tempo_epr 
WHERE nome_cidade = 'GOIANIA' 
  AND data_exercicio_epr BETWEEN '2025-01-11' AND '2025-01-21'
UNION ALL
SELECT 
  'Per├¡odo: 11/01/2025 a 21/01/2025';

-- Estat├¡sticas por status
SELECT 
  status,
  COUNT(*) as quantidade
FROM tempo_epr 
WHERE nome_cidade = 'GOIANIA'
  AND data_exercicio_epr BETWEEN '2025-01-11' AND '2025-01-21'
GROUP BY status
ORDER BY status;
